@page
@model Examining.Pages.Login.Patients.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1>Thông Tin Bệnh Nhân</h1>

<p>
    <a asp-page="Create">Create New</a>
</p> 
<form>
    <p>
        <!-- Name: 
        <select asp-for="PatientName" asp-items="Model.Names">
            <option value="">All</option>
        </select> -->
        Find by name: 
        <input type="text" name="searchString" value="@ViewData["searchString"]"/>
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class = "table table-bordered table-striped" >
    <thead>
        <tr> <!--tr xac dinh 1 hang trong bảng, th xac dinh 1 ô trong bảng -->
            <th style="text-align:center" >
                @Html.DisplayNameFor(model => model.ListPatient[0].PatientId)
            </th>
            <th style="text-align:center" >
                @Html.DisplayNameFor(model => model.ListPatient[0].PatientName)
            </th>
            <th style="text-align:center" >
                @Html.DisplayNameFor(model => model.ListPatient[0].Gender)
            </th>
            <th style="text-align:center" >
                @Html.DisplayNameFor(model => model.ListPatient[0].Birthday)
            </th>
            <th style="text-align:center" >
                @Html.DisplayNameFor(model => model.ListPatient[0].Address)
            </th>
            <th style="text-align:center" >
                @Html.DisplayNameFor(model => model.ListPatient[0].Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListPatient) {
     var address = item.Address.ToString();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
           
            <th>
                @Html.DisplayFor(modelItem => address)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
           <td>
                <a asp-page="./Edit" asp-route-id="@item.PatientId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PatientId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PatientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var preDisable = Model.ListPatient.HasPrevious ? "" : "disabled";
    var nextDisable = Model.ListPatient.HasNext ? "" : "disabled";
}

<div class="container">
    <a  class="btn btn-default @preDisable" 
        asp-route-pageIndex="@(Model.ListPatient.PageIndex - 1)">Previous</a>

    <a  class="btn btn-default @nextDisable"
        asp-route-pageIndex="@(Model.ListPatient.PageIndex + 1)">Next</a>
</div>